<!-- header -->
        <header class = "flex">
            <div class = "container-1">
                <div class = "header-title">
                    <h1>Travel Aimlessly</h1>
                    <p>Open the Windows to your soul</p>
                    <!-- <button type="button" name="button"> Book Now</button> -->

                     <%= button_to "Book Now", items_path, :method => "get", :class =>  'button' %>

                </div>

            </div>
        </header>
        <!-- header -->


        <!-- featured section -->
              <section id = "featured" class = "py-4">
                  <div class = "container-1">
                      <div class = "title-wrap">
                          <span class = "sm-title">know about some places before your travel</span>
                          <h2 class = "lg-title">featured places</h2>
                      </div>

                      <div class = "featured-row">
                          <div class = "featured-item my-2 shadow">
                              <img src = "/assets/featured-reo-de-janeiro-brazil.jpg" alt = "featured place">
                              <div class = "featured-item-content">
                                  <span>
                                      <i class = "fas fa-map-marker-alt"></i>
                                      Reo De Janeiro, Brazil
                                  </span>
                                  <div>
                                      <p class = "text">Rio de Janeiro is a huge seaside city in Brazil, famed for its Copacabana and Ipanema beaches, 38m Christ the Redeemer statue atop
                                        Mount Corcovado and for Sugarloaf Mountain, a granite peak with cable cars to its summit. </p>
                                  </div>
                              </div>
                          </div>

                          <div class = "featured-item my-2 shadow">
                              <img src = "/assets/featured-north-bondi-australia.jpg" alt = "featured place">
                              <div class = "featured-item-content">
                                  <span>
                                      <i class = "fas fa-map-marker-alt"></i>
                                      North Bondi, Australia
                                  </span>
                                  <div>
                                      <p class = "text">North Bondi is a coastal, eastern suburb of Sydney, in the state of New South Wales, Australia 7 kilometres east of the
                                         Sydney central business district, in the local government area of Waverley Council.</p>
                                  </div>
                              </div>
                          </div>

                          <div class = "featured-item my-2 shadow">
                              <img src = "/assets/featured-berlin-germany.jpg" alt = "featured place">
                              <div class = "featured-item-content">
                                  <span>
                                      <i class = "fas fa-map-marker-alt"></i>
                                      Berlin, Germany
                                  </span>
                                  <div>
                                      <p class = "text">Berlin, Germany’s capital, dates to the 13th century. Reminders of the city's turbulent 20th-century
                                        history include its Holocaust memorial and the Berlin Wall's graffitied remains.</p>
                                  </div>
                              </div>
                          </div>

                          <div class = "featured-item my-2 shadow">
                              <img src = "/assets/featured-khwaeng-wat-arun-thailand.jpg" alt = "featured place">
                              <div class = "featured-item-content">
                                  <span>
                                      <i class = "fas fa-map-marker-alt"></i>
                                      Khwaeng wat arun, thailand
                                  </span>
                                  <div>
                                      <p class = "text">Wat Arun is one of two khwaeng of Bangkok Yai District, Bangkok, apart from Wat Tha Phra.
                                        It can be considered an important area in terms of history and tourism.</p>
                                  </div>
                              </div>
                          </div>

                          <div class = "featured-item my-2 shadow">
                              <img src = "/assets/featured-rome-italy.jpg" alt = "featured place">
                              <div class = "featured-item-content">
                                  <span>
                                      <i class = "fas fa-map-marker-alt"></i>
                                      Rome, Italy
                                  </span>
                                  <div>
                                      <p class = "text">Rome is the capital city of Italy. It is also the capital of the Lazio region, the centre of the Metropolitan City of Rome, and a special comune named Comune di Roma Capitale</p>
                                  </div>
                              </div>
                          </div>

                          <div class = "featured-item my-2 shadow">
                              <img src = "/assets/featured-fuvahmulah-maldives.jpg" alt = "featured place">
                              <div class = "featured-item-content">
                                  <span>
                                      <i class = "fas fa-map-marker-alt"></i>
                                      fuvahmulah, maldives
                                  </span>
                                  <div>
                                      <p class = "text">Fuvahmulah City is an island in the Maldives. It is under Maldives administrative divisions of Gnaviyani Atoll or Nyaviyani Atoll.
                                        The inhabitants speak a distinctive form of the Dhivehi language, known as "Fuvahmulaki baha".</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

              </section>
              <!-- end of featured section -->


      <div class="aboutus">
        <div class="about-content">
          <h1>About US</h1>
          <h2>MEET THE WORLD'S LEADING TOUR COMPANY</h2>
          <p>We connect you to real experiences across all 7 continents.</p>
        </div>
      </div>
